body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --header-nav-color: #212121;
  --header-address-color: #757575;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

/* HEADER */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-nav-color);
}

.header-logo > span {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-nav-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-address-color);
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}
